*:focus {
    outline: none;
}

:root {
    --primary: #b37575;
    --secondary : #;
    --seek-bar-bg: #fd6d94;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #ffeff0;
}

#app-cover {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 430px;
    height: 100px;
    margin: -4px auto;
    padding: 20px;
}

#bg-artwork {
    position: fixed;
    top: -30px;
    right: -30px;
    bottom: -30px;
    left: -30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    z-index: 1;
}

#bg-layer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    opacity: 0.51;
    z-index: 2;
}

#player {
    position: relative;
    height: 100%;
    z-index: 3;
}

#music-player {
    position: absolute;
    top: 0;
    right: 15px;
    left: 15px;
    padding: 13px 22px 10px 165px;
    background-color: #fff7f7;
    border-radius: 15px 15px 0 0;
    transition: 0.3s ease top;
    z-index: 1;
}

#music-player.active {
    top: -92px;
}

#artist-name {
    color: #acaebd;
    font-size: 13px;
    margin: 2px 0 13px 0;
}

#song-name {
    color: #54576f;
    font-size: 17px;
    font-weight: bold;
}

#song-time {
    height: 12px;
    margin-bottom: 3px;
    overflow: hidden;
}

#current-time {
    float: left;
}

#song-length {
    float: right;
}

#current-time,
#song-length {
    color: transparent;
    font-size: 11px;
    background-color: #ffe8ee;
    border-radius: 10px;
    transition: 0.3s ease all;
}

#song-time.active #current-time,
#song-time.active #song-length {
    color: #f86d92;
    background-color: transparent;
}

#seek-container,
#seek-bar {
    position: relative;
    height: 4px;
    border-radius: 4px;
    user-select: none;
}

#seek-container {
    background-color: #ffe8ee;
    cursor: pointer;
}

#target-time {
    position: absolute;
    top: -29px;
    color: #fff;
    font-size: 12px;
    white-space: pre;
    padding: 5px 6px;
    border-radius: 4px;
    display: none;
}

#tooltip {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0.2;
    z-index: 2;
}

#target-time,
#tooltip {
    background-color: #3b3d50;
}

#seek-bar {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: var(--seek-bar-bg);
    transition: 0.2s ease width;
    z-index: 1;
}

#player-content {
    position: relative;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 30px 80px #656565;
    border-radius: 15px;
    z-index: 2;
}

#artist-image {
    position: absolute;
    top: -40px;
    width: 115px;
    height: 115px;
    margin-left: 40px;
    transform: rotateZ(0);
    transition: 0.3s ease all;
    box-shadow: 0 0 0 6px var(--primary);
    border-radius: 50%;
    overflow: hidden;
}

#artist-image.active {
    top: -60px;
    box-shadow: 0 0 0 4px var(--primary), 0 30px 50px -15px var(--primary);
}

#artist-image:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 20px;
    height: 20px;
    margin: -10px auto 0 auto;
    background-color: var(--primary);
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px #fff;
    opacity: 0.7;
    z-index: 2;
}

#artist-image img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
}

#artist-image img.active {
    opacity: 1;
    z-index: 1;
}

#artist-image.active img.active {
    z-index: 1;
    animation: playSong 3s linear 0s infinite forwards;
}

#loading-box {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    height: 13px;
    color: #fff;
    font-size: 13px;
    font-family: Helvetica;
    text-align: center;
    font-weight: bold;
    line-height: 1;
    padding: 6px;
    margin: -12px auto 0 auto;
    background-color: var(--primary);
    opacity: 0;
    z-index: 2;
}

#artist-image img,
#loading-box {
    transition: 0.1s linear all;
}

#artist-image.buffering img {
    opacity: 0.25;
}

#artist-image.buffering img.active {
    opacity: 0.8;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

#artist-image.buffering #loading-box {
    opacity: 1;
}

#player-controls {
    width: 250px;
    height: 100%;
    float: right;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: .5rem
}

.button {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button::before,
.button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all 0.5s ease;
    border-radius: 25px;
    box-shadow: inset 0 0 0 2px var(--primary);
    transition-duration: .5s;
}

.button:not(#play-pause-button) {
    width: 40px;
    height: 40px;
}

.button:not(#play-pause-button)::before, .button:not(#play-pause-button)::after {
    box-shadow: none;
}

.button i {
    position: absolute;
    color: var(--primary);
    font-size: 20px;
    transition: all 0.5s ease;
}

.control:last-child .button i {
    left: 14px;
}

.control:nth-child(2) .button i.fa-play {
    left: 18px;
}

.control:first-child .button i {
    right: 14px;
}

.button:hover i {
    color: #fff;
}

.button-fill:hover::before {
    box-shadow: inset 0 0 0 60px var(--primary);
}

.button-forward::before,
.button-backward::before {
    border-radius: 0;
    box-shadow: inset 0 0 0 60px var(--primary) !important;
}

.button-forward::before {
    margin-left: -100%;
}

.button-forward:hover::before {
    margin-left: 0;
}

.button-backward::before {
    margin-left: 100%;
}


.button-backward:hover::before {
    margin-left: 0;
}

@media (max-width: 470px) {
    #app-cover {
        width: calc(100% - 40px)
    }

    #artist-image {
        width: 85px;
        height: 85px;
        margin-left: 25px;
    }

    #artist-image.active {
        top: -35px;
    }

    #music-player {
        padding-left: 100px;
    }

    #player-controls {
        width: 100%;
        display: flex;
        align-items: center;
        width: calc(100% - 110px);
    }
}

@keyframes playSong {
    0% {
        transform: rotateZ(0);
    }

    100% {
        transform: rotateZ(360deg);
    }
}